<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>AtCoder Monthly Performance</title>
    </head>
    <body>
        <h4>AtCoder Monthly Performance</h4>
        <p>AtCoderのユーザー名を入力して実行すると、月ごとのパフォーマンスデータを表示します</p>
        <form action="/send" method="POST">
            <input type="text" name="User" placeholder="User" size="20">
            <input type="submit" value="実行">
        </form>

        <table cellpadding="3">
            <tr>
                {% for i in heading %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
            {% for i in data_list %}
                <tr>
                    {% for j in i %}
                        {% if loop.index0 <= 1 %}
                            <td align="center"> {{ j }} </td>
                        {% else %}
                            <td align="right"> {{ j }} </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>